html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

#character {
  /* columns and rows defined in template file */
  display: grid;
  /* justify-content: center; */
}


.section {
  border: 1px solid black;
  margin: 0.2rem;
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.section>.title, .group>.title{
  border: 1px solid black;
  text-align: center;
  margin: auto;
  font-weight: bold;
  color: red;
  border-radius: 0.2rem;
}

.fieldGroup {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

input {
  border: 0;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px dashed lightgray;
}

input:disabled {
  background: none;
  color: black;
}


label {
  text-align: center;
  height: 1rem;
}

.result {
  text-align: center;
  font-weight: bold;
  height: 1rem;
}

.field {
  margin: 0 0.2rem 0 0.2rem;
}

input[name="name"] {
  font-size: 1.4rem;
}

.button {
  padding: 0.4rem;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.button:hover {
  background-color: darkred;
  color: red;
}

.button:first-child {
  border-right: 1px solid darkred;
}

.button:last-child {
  border-left: 1px solid darkred;
}

/* Remove input number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#navBar {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightcoral;
}