@font-face {
  font-family: Cormorant;
  src: url("assets/CormorantInfant-Medium.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("assets/OpenSans-Regular.ttf");
}

body{
  margin:0;
  padding:0;
}

#character {
  /* columns and rows defined in template file */
  display: grid;
  /* justify-content: center; */
}


.section{
  border: 1px dotted lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


input {
  border: 0;
  font-size: 1.2rem;
  text-align: center;
  font-family: OpenSans;
  height: 2rem;
  padding:0;
  border-bottom: 1px dashed lightgray;
}

label {
  font-size: 1rem;
  font-family: Cormorant;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 0.2rem 0 0.2rem;
}

input[name="name"] {
  font-size: 1.8rem;
  font-family: Cormorant;
}
